.container {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .content,
  .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .socials {
    margin-top: 2rem;
  }
  .history {
    overflow-y: scroll;
  }
}

.content-outer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h2 {
  font-size: 3.5rem;
}
