.box {
  outline: 1px solid black;
  padding: 2rem;
  .inner,
  .content,
  .history {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .socials {
    margin-top: 2rem;
  }
  .history {
    overflow-y: scroll;
  }
}

.content-outer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: -2px -2px 0 var(--light-blue), 2px -2px 0 var(--light-blue),
    2px 2px 0 var(--light-blue), 2px 2px 0 var(--light-blue);
}

section {
  display: flex;
  justify-content: space-evenly;
}
