<div class="box">
  <h1 class="title">Meet the Coaches!</h1>
  <div class="coaches">
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/esther1.jpg"
        alt="esther headshot"
      />
      <p>Esther</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/matt1.jpg"
        alt="matt headshot"
      />
      <p>Matt</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/terra1.jpg"
        alt="terra headshot"
      />
      <p>Terra</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/drei1.jpg"
        alt="drei headshot"
      />
      <p>Drei</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/lucie1.jpg"
        alt="lucie headshot"
      />
      <p>Lucie</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/ian1.jpg"
        alt="ian headshot"
      />
      <p>Ian</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/cameron1.jpg"
        alt="cameron headshot"
      />
      <p>Cameron</p>
    </div>
  </div>
</div>
