<div class="box">
  <h1 class="title">Meet the Coaches!</h1>
  <div class="coaches">
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/esther1.jpg"
        alt="esther headshot"
      />
      <p class="name">Esther Fleigle</p>
      <p>Head Coach/Owner<br />Pole Vault</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/matt1.jpg"
        alt="matt headshot"
      />
      <p class="name">Matt Fleigle</p>
      <p>Head Coach/Owner<br />Pole Vault</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/terra1.jpg"
        alt="terra headshot"
      />
      <p class="name">Terra McMahon</p>
      <p>Head Coach/Team Manager<br />Horizontals & Sprints</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/drei1.jpg"
        alt="drei headshot"
      />
      <p class="name">Andreiana Aurelius</p>
      <p>Assistant Coach<br />Hurdles</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/lucie1.jpg"
        alt="lucie headshot"
      />
      <p class="name">Lucie Felt</p>
      <p>Media Intern<br />Photography</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/ian1.jpg"
        alt="ian headshot"
      />
      <p class="name">Ian Harder</p>
      <p>Assistant Coach<br />Throws</p>
    </div>
    <div class="overlay">
      <img
        class="headshot"
        src="../../../../images/headshots/cameron1.jpg"
        alt="cameron headshot"
      />
      <p class="name">Cameron Schulz</p>
      <p>Assistant Coach<br />High Jump/Javelin</p>
    </div>
  </div>
</div>
