@if (dropdownOpen) {
<div class="dropdown-backdrop"></div>
}
<nav>
  <img
    class="bg-img"
    src="../../../../images/track.jpg"
    alt="Indoor Track With Hurdles"
  />
  <div class="top-strip">
    <div>
      <img
        class="emblem"
        src="../../../../icons/flyers.png"
        alt="Flyers Icon"
      />
    </div>
    @if (!globalState.isMobile()) {
    <div class="links">
      @for (link of links; track link) {
      <a class="link" href="">{{ link }}</a>
      }
      <img
        (click)="navService.navigate('insta')"
        class="icon"
        src="../../../../icons/insta.svg"
        alt="Instagram Icon"
      />
      <img
        (click)="navService.navigate('fb')"
        class="icon"
        src="../../../../icons/fb.svg"
        alt="Facebook Icon"
      />
      <img class="icon" src="../../../../icons/email.png" alt="Email Icon" />
    </div>
    } @else {
    <div class="dropdown-container">
      <img
        class="hamburger"
        src="../../../../icons/hamburger-menu.png"
        alt="Dropdown menu icon"
        (click)="toggleDropdown()"
      />
      @if (dropdownOpen) {
      <div class="dropdown">
        @for (link of links; track link) {
        <a class="link" href="">{{ link }}</a>
        }
      </div>
      }
    </div>
    }
  </div>
  <div class="title">
    <h1>Fleigle's Flyers</h1>
  </div>
</nav>
