@if (dropdownOpen) {
<div class="dropdown-backdrop"></div>
}
<nav>
  <img
    class="bg-img"
    src="../../../../images/track.jpg"
    alt="Indoor Track With Hurdles"
  />
  <div class="top-strip">
    <div>
      <img
        class="emblem"
        src="../../../../icons/flyers.png"
        alt="Flyers Icon"
        [routerLink]="'home'"
      />
    </div>
    @if (!globalState.isMobile()) {
    <div class="links">
      @if (!onHomePage) {
      <a class="link" [routerLink]="home[1]">{{ home[0] }}</a>
      } @for (link of links; track link; let i = $index) {
      <a
        class="link"
        [routerLink]="link[1]"
        [ngClass]="{ active: currentLink === i }"
        >{{ link[0] }}</a
      >
      }
      <img
        (click)="navService.navigate('insta')"
        class="icon"
        src="../../../../icons/insta.svg"
        alt="Instagram Icon"
      />
      <img
        (click)="navService.navigate('fb')"
        class="icon"
        src="../../../../icons/fb.svg"
        alt="Facebook Icon"
      />
      <img class="icon" src="../../../../icons/email.png" alt="Email Icon" />
    </div>
    } @else {
    <div class="dropdown-container">
      <img
        class="hamburger"
        src="../../../../icons/hamburger-menu.png"
        alt="Dropdown menu icon"
        (click)="toggleDropdown()"
      />
      @if (dropdownOpen) {
      <div class="dropdown">
        @for (link of links; track link) {
        <a class="link" [href]="link[1]">{{ link[0] }}</a>
        }
      </div>
      }
    </div>
    }
  </div>
  <div class="title">
    <h1>Fleigle's Flyers</h1>
    <a
      href="https://fleiglesflyers.blogspot.com/p/essx-poles.html"
      target="_blank"
    >
      <button class="equipment-btn">Equipment & Rentals</button>
    </a>
  </div>
</nav>
