nav {
  background-color: rgba(0, 0, 0, 0.384);
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .top-strip {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    .links {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
    }
  }
  .title {
    position: absolute;
    bottom: 20%;
    padding: 10px 10px;
    h1 {
      font-size: 6rem;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.675);
      color: var(--white);
    }
  }
}

.emblem {
  width: 130px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    scale: 1.03;
    transform: rotate(2deg);
  }
}

.icon {
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: contain;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  cursor: pointer;
  z-index: 2;
}

.dropdown-container {
  position: relative;
  z-index: 2;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: -50px;
  z-index: 2;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.dropdown-backdrop {
  background-color: rgba(0, 0, 0, 0.429);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.link {
  color: var(--white);
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  nav {
    .top-strip {
      .links {
        width: 80%;
      }
    }
    .title {
      h1 {
        font-size: clamp(2rem, 10vw, 5rem);
      }
    }
  }
}
