<div class="box">
  <div class="section-wrapper bg-white">
    <section>
      <div>
        <h2>What We Do</h2>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corrupti
          adipisci quaerat, voluptatem illo quisquam architecto et temporibus
          quia cum delectus earum mollitia facilis molestias eligendi vero
          aliquam excepturi fugiat.
        </p>
      </div>
      <img src="../../../../images/carousel1.png" alt="pic" />
    </section>
  </div>
  <div class="section-wrapper bg-green">
    <section>
      <div>
        <h2>Mission, Vision, Values</h2>
        <p class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          pariatur iusto, est id porro quasi nulla saepe eaque ducimus error
          excepturi amet ipsa natus eum officia quam maiores omnis. Similique.
        </p>
      </div>
      <img src="../../../../images/carousel1.png" alt="pic" />
    </section>
  </div>
  <div class="section-wrapper">
    <section>
      <div>
        <h2>Coaching Model & Philosophy</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis,
          eius in placeat, eum repudiandae deleniti consectetur hic tempora
          corrupti laborum qui temporibus debitis reprehenderit exercitationem
          saepe eaque voluptas dolorum fugit.
        </p>
      </div>
      <img src="../../../../images/carousel1.png" alt="pic" />
    </section>
  </div>
</div>
